article{
  display: block;
  margin: 0px;

  .articleWrapper{
    max-width:780px;
    position: relative;
    margin: -80px auto 90px auto;
    padding: 40px 50px 0 50px;
    background: #fff;
  

    .articleContent{

      .heading{
        font-family: "DIN Neuzeit Grotesk",sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #454545;
        letter-spacing: 0.2em;
        transition: color 0.2s ease-in-out;
        text-transform: uppercase;
      }

      .articleHeader{
          margin-bottom: 45px;
          text-align: left;
      }
      .articleBody{
        display: block;
        text-align: left;
        font-size: 14px;
        font-family: "DIN Neuzeit Grotesk",sans-serif;
        color: #454545;
        line-height: 1.65;
        font-weight: 300;
        font-style: normal;


        p{
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
        }

        .profile{
          vertical-align: top;
          display: block;
          text-align: center;

          .rina-profile{
            height:450px;
            margin-left: auto;
            margin-right: auto;
          }
          .rina_text{
            display: block;
            font-style: italic;
            font-size: 12px;
            font-weight: 100;
          }
        }

      }


    }
  }


}
