

.articleToolBar{
  display: none;
  top: 100;
  text-align: center;
  background: #f1e4d8;
  padding: 13px 30px 12px 30px;
  width: 100%;
  overflow: hidden;
  z-index: 2;
  align-items: center;
  justify-content: space-between;
  color: #373737;
  transform: translateY(-100%);
  opacity: 0;
  will-change: transform, opacity;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  p{
    font-size: 11px;
    font-style: normal;
    font-family: "DIN Neuzeit Grotesk", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.2em;
    color: #343434;
  }

  .heading{
    font-family:"DIN Neuzeit Grotesk", sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    color: #454545;
    transition: color 0.2s ease-in-out;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    margin-left: 5px;
  }

  .text-subdued{
    color: rgba(55,55,55,0.5);
    font-size: 11px;
  }
}


.is-visible{
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  transform: translateY(0);
  opacity: 1;
}
