.App {
  text-align: center;
  font-family: Futura,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #454545;
  background: #fff;
  line-height: 1.65;
  margin: 0;


}

a{
  text-decoration: none;
  color: inherit;
}

*{
  box-sizing: border-box;
}
